.home {
    &__title {
        text-align: center;
        color: $Very-Dark-Blue;
        padding-top: 3%;
        h2 {
            font-family: "matura";
            font-weight: 400;
            text-decoration: underline;
        }
    }
    &__container {
        min-height: 400px;
        padding-bottom: 10%;

    }
}
